@model BookingBus.Models.Client

@{
    ViewBag.Title = "Delete";
}

<h3>Etes vous sûr de vouloir supprimer ?</h3>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form>
            @Html.DisplayNameFor(model => model.Utilisateur.nom_complet)
                @Html.DisplayFor(model => model.Utilisateur.nom_complet ,new { @class= "fadeIn second" })
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" class="btn" value="Supprimer" style="background-color: #F59A2E" />
                </div>
            }
        </form>
    </div>
</div>