@{
    ViewBag.Title = "A Propos";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="container" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <div class="row justify-content-center ">
            <div class="col-6">
                <div class="card  shadow" style="width: 100%;" >
                    <div class="card-header" style="text-align:center;background-color:#F59A2E">
                        <span class="h2"> A Propos </span>
                    </div>
                    <div class="p-4" style="text-align:center">
                        <br /><br />
                        <p style="font-size:1.4em;padding:3px; margin:3px"> Dans le Cadre de l'année Scolaire 2020/2021 , nous sommes amenés à réaliser un projet d'une application web de gestion d'abonnements d'autocar.</p>
                        <span style="font-size:1em;"><strong>Technologie(s) utilisé(s) : </strong> Microsoft Asp.net MVC 5 </span><br />
                        <span style="font-size:1em;"><strong>Enseignant : </strong> Pr.yassine EL GHAYAM </span><br />
                        <div class="row justify-content-end m-3">
                            <div class="col-4">
                                <span>Signature :</span><br /><i>-NEMASSI Ayoub <br /> -FROUKH Othman</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>