@{
    ViewBag.Title = "A Propos";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="container" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <div class="row justify-content-center">
                <div class="card  shadow" style="width: 95%; margin-bottom:50px;" >
                    <div class="card-header" style="text-align:center;background-color:#F59A2E">
                        <span class="h2"> A Propos </span>
                    </div>
                    <div class="p-4 p-md-2 p-sm-1" style="text-align:center">
                        <br /><br />
                        <p style="font-size:100%;padding:3px; margin:3px"> Dans le Cadre de l'année Scolaire 2020/2021 , nous sommes amenés à réaliser un projet d'une application web de gestion d'abonnements d'autocar.</p>
                        <span style="font-size:100%;"><strong>Technologie(s) utilisé(s) : </strong> Microsoft Asp.net MVC 5 </span><br />
                        <span style="font-size:100%;"><strong>Enseignant : </strong> Pr.yassine EL GHAYAM </span><br />
                        <div class="row justify-content-center m-3">
                            <div class="col-4">
                                <span style="font-size:13px;"><u>Signature :</u></span><br />
                            </div>
                        </div>
                        <div class="row justify-content-center m-3" style="text-align:center">

                            <div class="col-6">
                                <img src="~/Content/pp.jpg" style="width:40px;height:40px;" class="rounded-circle" /><br /><i>-NEMMASSI Ayoub</i>
                            </div>
                            <div class="col-6">
                                <img src="~/Content/UserPic/pic1.jpg" style="width:40px;height:40px;" class="rounded-circle" width="40" height="40" /><br /><i>-FROUKH Othman</i>
                            </div>
                        </div>
                        <div class="row justify-content-center m-3">
                            <div class="col-4">
                                <img src="~/Content/signature.png" style="width:100px;height:auto"/>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>