<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6" >
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon col-xs-6" style="text-align:center">
                        <h3 class="card-category ">Clients</h3>
                        <img src="~/Content/market-research.png" style="width:50%;" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats" style="text-align:center">
                      @Html.ActionLink("Liste des clients", "lister", new { role = "client" }, "")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon col-xs-6" style="text-align:center">
                        <h3 class="card-category ">Societées</h3>
                        <img src="~/Content/company.png" style="width:50%;" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats"style="text-align:center">
                        @Html.ActionLink("Liste des societes", "lister", new { role = "societe" }, "") 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon col-xs-6" style="text-align:center">
                        <h3 class="card-category ">Navettes</h3>
                        <img src="~/Content/pathway.png" style="width:50%;" />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats" style="text-align:center">
                       @Html.ActionLink("Liste des navettes", "Index", "Navettes")
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>