@model IEnumerable<BookingBus.Models.Effectuer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="card">
                        <div class="image">
                            <img src="~/Content/UserPic/@item.Abonnement.Societe1.Utilisateur.image" style="width:320px;height:150px;" />
                        </div>
                        <div class="card-inner">
                            <div class="header" style="text-align:center">
                                <h2 style="color:black">Duree : @item.duree</h2>
                                <h4>@item.Abonnement.Navette.lieu_depart -@item.Abonnement.Navette.lieu_arriver</h4>

                            </div>
                            <div class="content" style="text-align:center">
                                <a href="@Url.Action("Delete", "Effectuers", new {  id1=item.id_client,id2=item.id_abonnement})" class="btn fadeIn fourth" style="background-color: #F59A2E">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>