
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <section class="bg-blanc add-bottom-border overflow-x-hidden">
        <div class="container">
            <div class="row mt-10">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="section-title mb-20">
                        <h2 class="small">
                            La presse <i class="fa fa-heart" aria-hidden="true" style="color: #ff0000;"></i> marKoub.ma
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="partner-wrapper-sm">

                    <div id="partenaires-media" class="row gap-20 slick-initialized slick-slider">

                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 3910px; transform: translate3d(-1190px, 0px, 0px);">
                                <div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-7" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=2pA9W5QeTDE" target="_blank" tabindex="-1">
                                            <img class="lazyload" data-src="/Content/front/img/media-logo/Aloula.png" alt="Aloula">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.leconomiste.com/article/1022441-markoub-une-plateforme-qui-facilite-les-voyages-en-autocar" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/LECONOMISTE.png" alt="LECONOMISTE" src="/Content/front/img/media-logo/LECONOMISTE.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=C05gBAIxmIc" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/Medi1.png" alt="Medi1" src="/Content/front/img/media-logo/Medi1.png">
                                        </a>

                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.hespress.com/societe/378197.html" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/HESPRESS.png" alt="HESPRESS" src="/Content/front/img/media-logo/HESPRESS.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.medi1.com/fr/episode/185320" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Medi1Radio.png" alt="Medi1radio" src="/Content/front/img/media-logo/Medi1Radio.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=0--MxXPAYfM" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/TELE-MAROC.png" alt="Télé Maroc" src="/Content/front/img/media-logo/TELE-MAROC.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.welovebuzz.com/lancement-de-markoub-ma-lalternative-electronique-pour-lachat-des-billets-dautocar/" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/WLB.png" alt="WLB" src="/Content/front/img/media-logo/WLB.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="http://www.2m.ma/fr/news/reportage-markoubma-la-plateforme-de-reservations-de-tickets-de-transports-a-distance-20180401/" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/2M.png" alt="2M" src="/Content/front/img/media-logo/2M.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=2pA9W5QeTDE" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Aloula.png" alt="Aloula" src="/Content/front/img/media-logo/Aloula.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.leconomiste.com/article/1022441-markoub-une-plateforme-qui-facilite-les-voyages-en-autocar" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/LECONOMISTE.png" alt="LECONOMISTE" src="/Content/front/img/media-logo/LECONOMISTE.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=C05gBAIxmIc" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Medi1.png" alt="Medi1" src="/Content/front/img/media-logo/Medi1.png">
                                        </a>

                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.hespress.com/societe/378197.html" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/HESPRESS.png" alt="HESPRESS" src="/Content/front/img/media-logo/HESPRESS.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="5" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.medi1.com/fr/episode/185320" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Medi1Radio.png" alt="Medi1radio" src="/Content/front/img/media-logo/Medi1Radio.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-active" data-slick-index="6" aria-hidden="false" tabindex="0" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=0--MxXPAYfM" target="_blank" tabindex="0">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/TELE-MAROC.png" alt="Télé Maroc" src="/Content/front/img/media-logo/TELE-MAROC.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.welovebuzz.com/lancement-de-markoub-ma-lalternative-electronique-pour-lachat-des-billets-dautocar/" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/WLB.png" alt="WLB" src="/Content/front/img/media-logo/WLB.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="http://www.2m.ma/fr/news/reportage-markoubma-la-plateforme-de-reservations-de-tickets-de-transports-a-distance-20180401/" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/2M.png" alt="2M" src="/Content/front/img/media-logo/2M.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=2pA9W5QeTDE" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Aloula.png" alt="Aloula" src="/Content/front/img/media-logo/Aloula.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.leconomiste.com/article/1022441-markoub-une-plateforme-qui-facilite-les-voyages-en-autocar" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/LECONOMISTE.png" alt="LECONOMISTE" src="/Content/front/img/media-logo/LECONOMISTE.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=C05gBAIxmIc" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/Medi1.png" alt="Medi1" src="/Content/front/img/media-logo/Medi1.png">
                                        </a>

                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.hespress.com/societe/378197.html" target="_blank" tabindex="-1">
                                            <img class=" lazyloaded" data-src="/Content/front/img/media-logo/HESPRESS.png" alt="HESPRESS" src="/Content/front/img/media-logo/HESPRESS.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.medi1.com/fr/episode/185320" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/Medi1Radio.png" alt="Medi1radio" src="/Content/front/img/media-logo/Medi1Radio.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.youtube.com/watch?v=0--MxXPAYfM" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/TELE-MAROC.png" alt="Télé Maroc" src="/Content/front/img/media-logo/TELE-MAROC.png">
                                        </a>
                                    </div>

                                </div><div class="col-xss-6 col-xs-6 col-sm-6 col-md-2 slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 170px;">

                                    <div class="partner-item">
                                        <a href="https://www.welovebuzz.com/lancement-de-markoub-ma-lalternative-electronique-pour-lachat-des-billets-dautocar/" target="_blank" tabindex="-1">
                                            <img class=" ls-is-cached lazyloaded" data-src="/Content/front/img/media-logo/WLB.png" alt="WLB" src="/Content/front/img/media-logo/WLB.png">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>















                    </div>

                </div>
            </div>
        </div>

    </section>
